:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --icon-social-color: #afb1b8;
  --primary-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Загальні елементи */

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Хедер */

/* Верхній логотип */

.header {
  border-bottom: 1px solid #ececec;
}

/* Логотип */

.logo-header {
  color: #000000;
}

.logo-blue {
  color: var(--accent-color);
}

.logo-header,
.logo-footer,
.logo-blue {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* Навігація */

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav-group {
  margin-left: 94px;
}

.site-nav-list {
  display: flex;
  gap: 50px;
}

.nav-link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  transition: color var(--primary-transition);
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.site-nav-list .nav-link:hover,
.site-nav-list .nav-link:focus {
  color: var(--accent-color);
}

/* Контакти */

.contact {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.contact-link {
  display: inline-flex;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  transition: color var(--primary-transition);
}

.mail,
.phone {
  display: inline-flex;
  align-items: center;
}

.icon-envelope,
.icon-phone {
  margin-right: 10px;
  fill: currentColor;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/* Основний */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Гергой */

.hero {
  max-width: 1600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;

  background: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background-image.jpg);

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;

  color: var(--primary-bg-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  min-width: 216px;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;

  color: var(--primary-bg-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/* Переваги */

.feature {
  padding-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list {
  display: flex;
  gap: 30px;
}

.feature-list .item {
  width: calc((100% - 90px) / 4);
}

.icons {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--third-bg-color);
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.feature-list-title {
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-text {
  line-height: 1.71;
}

/* Сфера діяльності*/

.specialization-list {
  display: flex;
  gap: 30px;
  width: calc((100% - 60px) / 3);
}

.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.specialization-item {
  position: relative;
  text-align: center;
}

.specialization-description {
  display: block;
  width: 100%;
  min-height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
}

.specialization-description-text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-bg-color);

  padding-top: 27px;
  padding-bottom: 27px;
}

/* Команда */

.team {
  background-color: var(--third-bg-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-list .item {
  background-color: var(--primary-bg-color);

  width: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-wrap {
  text-align: center;

  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list-text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.list-team-social {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.team-social-item {
  width: 44px;
  height: 44px;
}

.team-social-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--icon-social-color);
  transition: color var(--primary-transition),
    background-color var(--primary-transition);
}

.team-social-icon {
  fill: currentColor;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

/* Постійні клієнти */

.client-list {
  display: flex;
  gap: 30px;

  justify-content: center;
}

.client-item {
  min-width: calc((100% - 150px) / 6);
}

.client-item-link {
  display: flex;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--icon-social-color);
  transition: color var(--primary-transition),
    border-color var(--primary-transition);
}

.client-icon {
  fill: currentColor;
}

.client-item-link:focus,
.client-item-link:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* Футер */

/* Лого */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-bg-color);
}

.footer-main {
  display: flex;
  align-items: baseline;
}

.footer-first {
  margin-right: 70px;
  width: 231px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--primary-bg-color);
  text-decoration: none;
}

/* Адреса */

.address-postal,
.contact-footer {
  display: inline-block;

  text-decoration: none;

  line-height: 1.71;
}

.address-list li {
  margin-bottom: 9px;
}

.address-list li:last-child {
  margin-bottom: 0px;
}

.address-postal {
  color: var(--primary-bg-color);
}

.contact-footer {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--primary-transition);
}

.contact-footer:hover,
.contact-footer:focus {
  color: var(--accent-color);
}

/* Контакти компанії в соціальних мережах */

.footer-second {
  width: 206px;
  height: 80px;
}

.join {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-bg-color);

  margin-bottom: 20px;
}

.footer-social {
  display: flex;
  gap: 10px;
}

.footer-social-item {
  width: calc((100% - 30px) / 4);
  height: 44px;
}

.footer-social-link {
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--primary-bg-color);
  transition: background-color var(--primary-transition);
}

.footer-social-icon {
  fill: currentColor;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background: var(--accent-color);
}

/* Підписатися */

.footer-follow-form {
  margin-left: 93px;
}

.footer-follow-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-bg-color);

  margin-bottom: 20px;
  display: block;
}

.footer-follow-wrap {
  display: flex;
  gap: 12px;
  align-items: center;
}

.footer-follow-window {
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding: 0;
  padding-left: 16px;

  color: var(--primary-bg-color);
}

.footer-follow-window::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-follow-button {
  display: flex;
  align-items: center;

  width: 200px;
  height: 50px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 28px;
  background-color: var(--accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
}

.footer-send-icon {
  fill: var(--primary-bg-color);
  margin-left: 10px;
}
/* Портфоліо */

/* Кнопки */

.portfolio-button-list {
  display: flex;
  gap: 8px;
  justify-content: center;

  margin-bottom: 59px;
}

.portfolio-button-list button {
  min-width: 73px;
  border-radius: 4px;
  border: none;

  color: var(--title-text-color);
  background-color: var(--third-bg-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  transition: background-color var(--primary-transition),
    box-shadow var(--primary-transition);
}

.portfolio-button-text {
  display: block;
  padding: 6px 22px;
}

/* Малі паддінги першої кнопки */

.portfolio-button-list
  > .portfolio-button:first-child
  > .portfolio-button-text {
  padding: 6px 25px;
}

.portfolio-button-list button:hover,
.portfolio-button-list button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Зразки проектів */

.portfolio-sample-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-sample-item {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-sample-link {
  display: inline-block;
  text-decoration: none;
  transition: box-shadow var(--primary-transition);
}

.portfolio-sample-link:hover,
.portfolio-sample-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-wrap {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.portfolio-sample-list-title {
  margin-bottom: 4px;

  color: var(--title-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-sample-list-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
  font-weight: 400;
}

.portfolio-overlay-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  transform: translateY(100%);

  position: absolute;
  top: 0;
  height: 100%;

  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-bg-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--primary-transition);
}

.portfolio-sample-item:hover .portfolio-overlay-text {
  transform: translateY(0);
}

/* Бекдроп */

.backdrop {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity var(--primary-transition),
    visibility var(--primary-transition);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform var(--primary-transition);

  width: 528px;
  min-height: 582px;
  border-radius: 4px;

  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0.2);
}
.modal-close {
  width: 30px;
  height: 30px;

  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--primary-transition),
    border-color var(--primary-transition);
}

.icon-modal-close {
  fill: currentColor;
}

.modal-close:hover,
.modal-close:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Форма у модальному вікні */

.modal-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

/* Пункти форми */

.modal-form-list {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

.modal-form-item:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form-name {
  display: block;

  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-field-wrap {
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
}

.modal-field-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 50px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field:focus {
  border-color: var(--accent-color);
}

.modal-form-field:focus + .modal-field-icon {
  fill: var(--accent-color);
}

.modal-comments-field {
  height: 120px;
  resize: none;
  padding: 12px 16px;
}

.modal-comments-field::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

/* Згода */

.confirm-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.confirm-new-text {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.confirm-text {
  display: flex;
  align-items: center;
}

.confirm-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 3px;

  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.confirm-check:checked + .confirm-text span {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: var(--primary-bg-color);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.confirm-check:focus + .confirm-text span {
  border-color: var(--accent-color);
}

.license-agreement {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-color);
}

/* Кнопка відправки  */

.modal-form-btn {
  width: 200px;
  height: 50px;
  padding: 0;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--primary-bg-color);
}
